@font-face {
    font-family: 'engttf';
    src: url('engttf.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'simple';
    src: url('simple.ttf');
    font-weight: normal;
    font-style: normal;
}

