body .side-bar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0, 1) 0.1s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1) 0.1s;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    overflow: hidden;
    z-index: 9999;
}

body .side-bar.open {
    -webkit-transform: translate(0);
    transform: translate(0);
}

body .main-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
}

body .main-area .top-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 290px;
    bottom: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

body .main-area .top-wrapper .top-area {
    position: relative;
    height: 165px;
}

body .main-area .top-wrapper .top-area img {
    position: absolute;
    width: 100%;
    height: 100%;
}

body .main-area .top-wrapper .top-area .site-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 55px 0 0 15px;
}

body .main-area .top-wrapper .top-area .site-info .site-name {
    font-size: 1.6em;
    line-height: 1.8em;
    font-weight: 700;
    color: #fff;
}

body .main-area .top-wrapper .top-area .site-info .site-desc {
    font-size: 1em;
    line-height: 1.2em;
    color: #fff;
}

body .main-area .top-wrapper .sidebar-search {
    padding: 5px 15px;
    margin-bottom: 10px;
}

body .main-area .top-wrapper .sidebar-search .result-area,
body .main-area .top-wrapper .sidebar-search .search-view {
    width: 100%;
}

body .main-area .top-wrapper .sidebar-menus .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 42px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    background: #ddd;
}

body .main-area .top-wrapper .sidebar-menus .site-nav > p {
    font-size: 16px;
    color: #888;
}

body .main-area .top-wrapper .sidebar-menus ul {
    list-style-type: none;
    padding-left: 1.4em;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu {
    display: block;
    padding: 8px 15px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    max-height: 300px;
    overflow: hidden;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu.hide {
    padding: 0 15px;
    max-height: 0;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu li {
    line-height: 1.8em;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu li > i {
    color: #777;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a {
    font-size: 17px;
    color: #777;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a.active,
body .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a:hover {
    color: #409eff;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu li > ul > li > a {
    font-size: 15px;
    color: #777;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu .nav-link {
    text-decoration: none;
}

body .main-area .top-wrapper .sidebar-menus ul.nav-menu .nav-link.active,
body .main-area .top-wrapper .sidebar-menus ul.nav-menu .nav-link:hover {
    text-decoration: underline;
    color: #409eff;
}

body .main-area .top-wrapper .sidebar-menus .sidebar-toc-list .menu-root {
    padding-left: 0;
    line-height: 1.4em;
}

body .main-area .top-wrapper .sidebar-menus .sidebar-toc-list #sidebar-toc {
    position: relative;
    padding: 15px;
}

body
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .toc-link {
    padding-left: 0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .toc-link:before {
    background: transparent;
}

body
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .active {
    font-weight: 700;
    color: #409eff;
    border-left: 2px solid #409eff;
}

body
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .active:before {
    background-color: #409eff;
}

body .main-area .sidebar-operate-area {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 290px;
    height: 44px;
    padding: 8px 15px;
    border-top: 1px solid #eee;
    background: #ddd;
}

body .main-area .sidebar-operate-area .ivu-btn {
    border-color: #888;
}

body .mask {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(85, 85, 85, 0.5);
}

body.dark .main-area .top-wrapper,
body.dark .side-bar .top-wrapper {
    background: #4f4f4f;
}

body.dark .main-area .top-wrapper .top-area .site-info .site-desc,
body.dark .main-area .top-wrapper .top-area .site-info .site-name,
body.dark .side-bar .top-wrapper .top-area .site-info .site-desc,
body.dark .side-bar .top-wrapper .top-area .site-info .site-name {
    color: #fff;
}

body.dark .main-area .top-wrapper .sidebar-menus .site-nav,
body.dark .side-bar .top-wrapper .sidebar-menus .site-nav {
    border-bottom: 1px solid #2f2f2f;
    background: #2c2c2c;
}

body.dark .main-area .top-wrapper .sidebar-menus .site-nav > p,
body.dark .side-bar .top-wrapper .sidebar-menus .site-nav > p {
    color: #969696;
}

body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a,
body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu li > i,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu li > a,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu li > i {
    color: #ccc;
}

body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a.active,
body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu li > a:hover,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu li > a.active,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu li > a:hover {
    color: #eee;
}

body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu li > ul > li > a,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu li > ul > li > a {
    color: #ccc;
}

body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu .nav-link.active,
body.dark .main-area .top-wrapper .sidebar-menus ul.nav-menu .nav-link:hover,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu .nav-link.active,
body.dark .side-bar .top-wrapper .sidebar-menus ul.nav-menu .nav-link:hover {
    color: #eee;
}

body.dark .main-area .top-wrapper .sidebar-menus .sidebar-toc-list #sidebar-toc,
body.dark .side-bar .top-wrapper .sidebar-menus .sidebar-toc-list #sidebar-toc {
    padding: 15px;
}

body.dark
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    > .toc-list,
body.dark
    .side-bar
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    > .toc-list {
    padding-left: 0;
}

body.dark
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .toc-link:before,
body.dark
    .side-bar
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .toc-link:before {
    background: transparent;
}

body.dark
    .main-area
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .is-active-link:before,
body.dark
    .side-bar
    .top-wrapper
    .sidebar-menus
    .sidebar-toc-list
    #sidebar-toc
    .is-active-link:before {
    background-color: #eee;
}

body.dark .main-area .sidebar-operate-area,
body.dark .side-bar .sidebar-operate-area {
    border-top: 1px solid #2f2f2f;
    background: #2c2c2c;
}

body.dark .main-area .sidebar-operate-area .ivu-btn,
body.dark .side-bar .sidebar-operate-area .ivu-btn {
    border-color: #969696;
}
